In [2]:
mul2 = lambda x: x * 2

In [3]:
mul2(10)

20

In [4]:
(lambda x: x * 2)(10)

20

In [ ]:
(lambda x: x * 2)(10)

In [5]:
(lambda x, y: x * 2 + y)(10, 5)

25

In [9]:
salary_list = [100000, 200000, 150000, 120000, 80000, 75000]

# Calculate total_salary of base_salary * (1 + bonus_rate)
def calculate_salary (base_salary, bonus_rate=0.1):
    return base_salary * (1 + bonus_rate)

total_salary_list = [calculate_salary(salary) for salary in salary_list]
total_salary_list

[110000.00000000001, 220000.00000000003, 165000.0, 132000.0, 88000.0, 82500.0]

In [11]:
total_salary_list = [(lambda x: x * 1.1)(salary) for salary in salary_list]
total_salary_list

[110000.00000000001, 220000.00000000003, 165000.0, 132000.0, 88000.0, 82500.0]

In [13]:
total_salary_list = [salary * 1.1 for salary in salary_list]
total_salary_list

[110000.00000000001, 220000.00000000003, 165000.0, 132000.0, 88000.0, 82500.0]

In [14]:
job_data = [
    {
        "job_title": "Data Scientist",
        "job_skills": ["Python", "Pandas", "SQL", "Machine Learning"],
        "remote": True
    },
    {
        "job_title": "Machine Learning Engineer",
        "job_skills": ["Python", "TensorFlow", "PyTorch", "Docker"],
        "remote": False
    },
    {
        "job_title": "Data Analyst",
        "job_skills": ["SQL", "Excel", "Tableau", "Python"],
        "remote": True
    }
]

In [17]:
list(filter(lambda job: job['remote'], job_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Pandas', 'SQL', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'Excel', 'Tableau', 'Python'],
  'remote': True}]

In [18]:
list(filter(lambda job: job['remote'] and 'Python' in job['job_skills'], job_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Pandas', 'SQL', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'Excel', 'Tableau', 'Python'],
  'remote': True}]